<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="AMBEV-Brewtech-Framework" value="https://pkgs.dev.azure.com/AMBEV-SA/AMBEV-Brewtech-Framework/_packaging/AMBEV-Brewtech-Framework/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AMBEV-Brewtech-Framework>
      <add key="Username" value="AMBEV-Brewtech-Framework" />
      <add key="ClearTextPassword" value="6jjwsalqt2trebe6ty6grxf4qpufi4ctceo47k6lgl64r5y7nxua" />
    </AMBEV-Brewtech-Framework>
  </packageSourceCredentials>
</configuration>